{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>TODO編集</title>
    <link rel="stylesheet" href="{% static 'work09/ebit_style.css' %}">
</head>

<body>

    <div class="container">

        <h1>TODO編集</h1>

        <form method="post">
            {% csrf_token %}

            <p>
                <label>タイトル</label>
                {{ form.title }}
            </p>

            <p>
                <label>期限日</label>
                {{ form.due_date }}
            </p>

            <p>
                <label>
                    {{ form.is_completed }}
                    完了
                </label>
            </p>

            <div class="button-group">
                <button type="submit" class="save">更新</button>

                <a href="{% url 'todo_delete' todo.id %}">
                    <button type="button" class="delete">削除</button>
                </a>

                <a href="{% url 'todo_list' %}">
                    <button type="button" class="back">一覧に戻る</button>
                </a>
            </div>

        </form>

    </div>
</body>

</html>